<style type="text/css">

  #stage {
    border: 1px solid #ccc;
  }

  #felt {
    position: relative;
    margin: 0 0 0 200px;
    height: 500px;
    background: green;
  }

  #felt div {
    position: absolute;
    left: -140px;
    top: 100px;
  }

</style>